# OSX
.DS_Store

# Node
node_modules/
npm-debug.log
yarn-error.log

# React Native
.expo/
.expo-shared/

# iOS
ios/Pods/
ios/build/
*.xcworkspace
!default.xcworkspace
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata
*.moved-aside
DerivedData
*.hmap
*.ipa
*.xcuserstate
ios/.xcode.env.local

# Android
android/.gradle/
android/app/build/
android/build/
*.keystore
!debug.keystore
local.properties
*.hprof
.cxx/

# Bundle
vendor/bundle/
.bundle/

# Environment
.env
.env.local
.env.*.local

# IDE
.vscode/
.idea/
*.swp
*.swo
*~
.project
.classpath
.c9/
*.launch
.settings/

# Logs
logs
*.log

# Misc
.cache/
.tmp/
